// Variables
$base__bgcolor = #FFFFFF
$base__color = #2c3338
$base__font-family-fallback = sans-serif
$base__font-family = 'Open Sans'
$base__font-size = .875rem
$base__font-weight = 400
$base__line-height = 1.5

$form--login__border-radus = .25rem
$form--login__color = #606468
$form--login__label__bgcolor = #363b41
$form--login__input__bgcolor = #3b4148
$form--login__input__bgcolor--hover = #434A52
$form--login__submit__bgcolor = #57AB43
$form--login__submit__bgcolor--hover = darken($form--login__submit__bgcolor, 10%)
$form--login__submit__color = #FFF

$grid__container__max-width = 20rem
$grid__container__width = 90%

$link__color = #eee
